@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #766f68;
    margin: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5em;
}

a {
    text-decoration: none;
}

img {
    max-width: 480px;
    width: 100%;
    margin: 20px 0;
}

.navigation {
    padding: 10px 0;
}

.logo {
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #d2872c;
}

.nav-list {
    list-style: none;
    margin: 10px 0;
    padding: 0;
    display: none;
}

.nav-list a {
    color: #333;
    display: inline-block;
    width: 100%;
    padding: 10px 5px;
}

.nav-list a:hover {
    background-color: #766f6820;
}

#menu-toggle {
    font-size: 28px;
    float: right;
    color: #333;
}

.container {
    margin-top: 30px;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 36px;
    padding: 15px 0;
    margin: 0;
    letter-spacing: 1px;
}

.content p {
    font-size: 20px;
    margin: 15px 0;
}

.content button {
    font-size: 24px;
    font-weight: bold;
    background-color: #d2872c;
    color: #fff;
    height: 68px;
    width: 80%;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0;
    transition: all 0.3s;
}

.content button:hover {
    background-color: #d2872cd0;
}
